*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#app{
    display: flex;
}

#create-post{
    background-color: var(--bs-blue);
    display:flex;
    flex-direction: column;
    padding: 20px;
    color: rgb(255, 255, 255);
    min-width: 20vw;
   
}
#create-post label{
    margin: 10px 0;
}
#create-post input{
    padding: 5px;
}
#create-post textarea{
    padding: 10px;
    height: 220px;
}

#list-post{
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    min-width: 100vw;
    background-color: rgb(59, 136, 224);
}

#post{
    height: 220px;
    width: 320px;
    margin: 20px;
    transition: 0.1s ease-in-out
     
}
#post:hover{
    transform: scale(1.05);
}


#post #data{
    position: relative;
    top: 40px;
    opacity: 0.7;
    font-style: italic;
}

#post button{
    position: relative;

    left: 220px;
}