*{
    box-sizing: border-box;
}
#app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 70vw; 
}
#container{
    display: flex;
    flex-wrap: wrap;
    
 
}

header {
    background-color: var(--bs-blue);
    color: rgb(255, 255, 255);
    height: 64px;
    padding: 10px;
    
}
header h1{
    margin-left: 70px;
}

#post{
    margin: 20px;
}
#card{
    height: 220px;
    

}

#data{
    position: relative;
    top: 70px;
    opacity: 0.7;
}
